#cart-wrap { /* section for general styling accross the page */
    font-family: arial, sans-serif;  /* decides fonts */
    display: flex; /*determines the layout of elements */
    margin: 0 auto; /* controls of thickness of margin */
    max-width: 1000px; /* controls page max width */
  }
  #cart-products, #cart-items { /* affects both sections of the page */
    box-sizing: border-box; /*controls the width and height of the sections (makes them span witth of page) */
    padding: 15px; /* controls the gap between the sections */
  }
  #cart-products { width: 70%; } /* sets width of products section */
  #cart-items { width: 30%; } /* sets width of cart section */
  input.cart, button.cart { /* creates a button for the page to use */
    padding: 10px; /* controls the size of the button */
    border: 0; /* controls the button's border */
    background: #ff4316; /* controls the buttons background colour */
    color: rgb(255, 249, 249); /* controls text colour */
    font-weight: 700; /* controls font size */
    cursor: pointer; /* controls cursor appearance */
  }