#Cart-wrap { /*section for general styling accross the page */
    font-family: arial, sans-serif;  /* decides fonts */
    display: flex; /*determines the layout of elements */
    margin: 0 auto; /* controls of thickness of margin */
    max-width: 1000px; /* controls page max width */
  }
  #Cart-PetListings, #Cart-items { /* affects both sections of the page */
    box-sizing: border-box; /*controls the width and height of the sections (makes them span witth of page) */
    padding: 15px; /* controls the gap between the sections */
  }
  #Cart-PetListings { width: 70%; } /* sets width of products section */
  #Cart-items { width: 30%; } /* sets width of Cart section */
  input.Cart, button.Cart { /* creates a button for the page to use */
    padding: 10px; /* controls the size of the button */
    border: 0; /* controls the button's border */
    background: #ff4316; /* controls the buttons background colour */
    color: rgb(255, 249, 249); /* controls text colour */
    font-weight: 700; /* controls font size */
    cursor: pointer; /* controls cursor appearance */
  }

  #cart-PetListings { /* displays the items for sale */
    display: grid; /*sets items to be displayed in a grid */
    grid-template-columns: auto auto; /* auto sets the columns */
    grid-gap: 10px; /*sets gap between grid items */
  }

  .p-item { /* controls the borders of each item's section */
    padding: 10px; /* sets the spacing between the text and border */
    border: 1px solid rgb(109, 99, 99); /* sets border width, style and colour */
    border-radius: 5px; /* sets the border radius (big curls are) */
    text-align: center; /* sets the text alignment */
  }

  .p-Name, .p-Price { font-weight: 700; } /*sets the font thickness for each item's section */
  .p-Name, .p-Desc, .p-Price { margin: 5px 0; } /*decides the margin */
  .p-Name { text-transform: uppercase; } /*Captialses the first letter of the Name */
  .p-Desc {
    color: rgb(185, 173, 173); /* sets the colour of the Description text */
    font-size: 0.9em; /* sets the font size for the Description text */
  }
  .p-Price { font-size: 1.35em; } /* sets the font size of the Price text */
  input.p-add { width: 70%; } /*sets the length of the button */

  #Cart-items { /* for the Cart section */
    background: #4d3b31; /*sets background colour for Cart */
    color: #fff; /* controls text colour */
    border-radius: 5px; /* sets the border radius */
  }

  .c-item { /* for each item in the Cart */
    padding: 10px 0; /* padding between each item */
    display: flex; /* sets boxes for each item as flexable (can be moved by others */
    flex-wrap: wrap; /* wraps info about each Cart item in this flex */
  }

  .c-item > * { box-sizing: border-box; } /* controls spacing of quantity and remove buttons */
  .c-Name, .c-total, input.c-empty, input.c-checkout { width: 100%; } /* controls the width of the buttons */
  .c-total, input.c-empty, input.c-checkout { margin-top: 10px; } /* controls the magins of both buttons */
  .c-del { width: 25%; } /* controls how the buttons are spaced together ( del is 25% of line qty is 75%) */
  .c-qty { width: 75%; }
  .c-total { /* controls total section */
    font-weight: 700; /* controls total font weight */
    font-size: 1.2em; /* controls total font size */
  }

  @media screen AND (max-width: 768px) { /* sets max width of the page */
    #Cart-wrap { grid-template-columns: 60% 40%; } /* controls how the two sections are spaced together */
    #Cart-PetListings { grid-template-columns: auto; } /* sets the columns of the page */
  }